@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}
@section Css
{
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

<div class="wrapper">
    <header>
        <div class="container clearfix">
            <h1>Nuget Packages Overview</h1>
        </div>
    </header>
    <div class="clearfix">
        <div class="half widget">
            <div id="leastUsedPackagesContainer">
                @{Html.RenderPartial("Widgets/UsedPackages", Model.LeastUsedPackagesViewModel);}
            </div>
            <div style="text-align: center; padding-top: 10px;">
                <form asp-for="maxToRetrieve" asp-controller="Dashboard" asp-action="LeastUsed" method="post">
                    @Html.DropDownListFor(model => model.LeastUsedPackagesViewModel.MaxToRetrieve, new SelectList(new List<SelectListItem>() {  new SelectListItem() {  Text = "5", Value = "5"} , new SelectListItem() { Text = "10", Value = "10" }, new SelectListItem() { Text = "15", Value = "15" } }, "Text", "Value"), new { id = "ddlLeastUsedMaxToRetrieve" })
                </form>
            </div>
        </div>
        <div class="half widget">
            <div id="mostUsedPackagesContainer">
                @{Html.RenderPartial("Widgets/UsedPackages", Model.MostUsedPackagesViewModel);}
            </div>
            <div style="text-align: center; padding-top: 10px;">
                <form asp-for="maxToRetrieve" asp-controller="Dashboard" asp-action="MostUsed" method="post">
                    @Html.DropDownListFor(model => model.MostUsedPackagesViewModel.MaxToRetrieve, new SelectList(new List<SelectListItem>() { new SelectListItem() { Text = "5", Value = "5" }, new SelectListItem() { Text = "10", Value = "10" }, new SelectListItem() { Text = "15", Value = "15" } }, "Text", "Value"), new { id = "ddlMostUsedMaxToRetrieve" })
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="half widget">
            <div class="chart-legend">
                <h3>Another Graph</h3>
            </div>
            <div class="canvas-container">
            </div>
        </div>
        <div class="half widget">
            <div class="chart-legend">
                <h3>Another Graph</h3>
            </div>
            <div class="canvas-container">
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
<footer>
</footer>

<script type="text/javascript">  
    $(document).ready(function () {
        $("#ddlLeastUsedMaxToRetrieve").change(function () {
            var maxToRetrieve = $("#ddlLeastUsedMaxToRetrieve").val();
            $("#leastUsedPackagesContainer").load('@Url.Action("LeastUsed", "Dashboard",null)?maxToRetrieve=' + maxToRetrieve);
        });
    $("#ddlMostUsedMaxToRetrieve").change(function () {
        var maxToRetrieve = $("#ddlMostUsedMaxToRetrieve").val();
    $("#mostUsedPackagesContainer").load('@Url.Action("MostUsed", "Dashboard",null)?maxToRetrieve=' + maxToRetrieve);
        });     
    });
</script> 