@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}


<style type="text/css">
    
    html, body {
        height: 100%;
    }
    body {
        font-family: 'Source Sans Pro', sans-serif;
        color: #666;
    }
    /* button */
    .button {
        cursor: pointer;
        text-decoration: none;
        font-size: 0.6em;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        padding: 4px 6px;
        margin: 0 10px;
        position: relative;
        background: #ccc;
        color: #fff;
        box-shadow: 0 0 2px rgba(0,0,0,0.1);
        background: rgb(190,190,190); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(190,190,190,1) 0%, rgba(170,170,170,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,190,190,1)), color-stop(100%,rgba(170,170,170,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(190,190,190,1) 0%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(190,190,190,1) 0%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(190,190,190,1) 0%,rgba(170,170,170,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(190,190,190,1) 0%,rgba(170,170,170,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
    }
    .button:hover {
        background: #637b85;
    }
    /* Header styles */
    header {
        text-align: center;
        background: #637b85;
        color: #fff;
        margin-bottom: 40px;
    }
    header span {
        font-weight: 200;
    }
    header .button {
        font-size: 0.2em;
        top: -6px;
    }
 
    /* various containers */
    .container {
        width: 200px;
        margin: 0 auto;
    }
    .canvas-container {
        min-height: 300px;
        max-height: 600px;
        position: relative;
    }
    .widget {
        position: relative;
        margin-bottom: 80px;
        background: #efefef;
        padding: 12px;
        margin-bottom: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .widget p {
        margin-top: 0;
        text-align: center;
    }
    .widget h3 {
        margin: -12px 0 0px -0px;
        padding: 12px;
        width: 100%;
        text-align: center;
        color: #627b86;
        line-height: 2em;
        background: #d0dde3;
    }
    .chart-legend {
        margin: -12px -12px 0px -12px
    }



     @@media only screen and (min-width:300px){
         .container {
             width: 300px;
             margin: 0 auto;
         }
     }
 
    @@media only screen and (min-width:600px){
        .container {
            width: 580px;
            margin: 0 auto;
        }
        .third {
            float: left;
            width: 47.5%;
            margin-left: 5%;
        }
        .third:first-child {
            margin-left: 0;
        }
        .third:last-child {
            display: block;
            width: 100%;
            margin-left: 0;
        }
    }
 
    @@media only screen and (min-width:960px){
        .container {
            width: 940px;
        }
        .third {
            float: left;
            width: 30%;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }
        .third:first-child {
            margin-left: 0;
        }
        .third:last-child {
            margin-right: 0;
            margin-left: 2.5%;
            width: 30%;
        }
    }
    @@media only screen and (min-width:1140px){
        .container {
            width: 1120px;
        }
    }
    @@media only screen and (min-width:1360px){
        .container {
            width: 1300px;
        }
    }
</style>

<div class="wrapper">
    <header>
        <div class="container clearfix">
            <h1>Nuget Packages Overview</h1>
        </div>
    </header>
    <div class="clearfix">
        <div class="third widget doughnut">
            <div class="chart-legend">
                <h3>Something</h3>
            </div>
            <div class="canvas-container">
                <canvas id="some stuff"></canvas>
            </div>
        </div>
        <div class="third widget line">
            <div class="chart-legend">
                <h3>Something else</h3>
            </div>
            <div class="canvas-container">
                <canvas id="shipments"></canvas>
            </div>
        </div>
        <div class="third widget">
            <div class="chart-legend">
                <h3>Most used packages</h3>
            </div>
            <div class="canvas-container">
                <canvas id="mostUsedPackages"></canvas>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
<footer>
</footer>



<script>
    var ctx = document.getElementById("mostUsedPackages");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [@Html.Raw(Model.MostUsedPackagesViewModel.PackageList)],
            datasets: [{
                label: '# of usages',
                data: [@Html.Raw(Model.MostUsedPackagesViewModel.UsagesValues)],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });
</script>