@model PackagesViewModel

@{
    ViewData["Title"] = "Package List";
}

<form asp-controller="Home" asp-action="ShowPackages" method="post">
    All packages:
    <p>
        <select asp-for="SelectedPackageName" asp-items="Model.Packages"></select>
        <br /><button type="submit">Show project usages</button>
    </p>
</form>
<form asp-controller="Home" asp-action="ShowPackagesOrderedByVersionPackageName" method="post">
    Packages ordered by version count:
    <p>
        <select asp-for="SelectedOrderedByVersionPackageName" asp-items="Model.PackagesOrderedByVersionCount"></select>
        <br/><button type="submit">Show project usages</button>
    </p>
</form>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th> 
                @foreach (var version in Model.Versions)
                {
                    <th>@version</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var projectRowValue in Model.ProjectRows)
            {
                <tr>
                    <th>@projectRowValue.ProjectName</th>
                    @foreach (var value in projectRowValue.ValuesList)
                    {
                        <td>@value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
